body {
  width: 1440px;
  margin: 0 auto;
  padding: 0;
  font-family: Montserrat;
  color: #ae7c78;
}

header {
  padding-top: 26px;
}

.line__header {
  border: 1px solid;
  width: 100%;
}
.nav__block {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  align-items: center;
  align-content: center;
}
.nav {
  max-width: 1200px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.nav__button {
  list-style-type: none;
  margin: 0 50px;
}
.nav__button-one {
  margin-left: 0;
}
.nav__button-two {
  margin-right: 0;
}
.logo__header {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  list-style-type: none;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ae7c78;
}

.preview {
  width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.preview__heading {
  font-family: Playfair Display;
  font-weight: 400;
  font-size: 44px;
}

.preview__heading span {
  font-family: Playfair Display;
  font-style: italic;
}
.preview__text {
  font-family: Montserrat;
  font-size: 24px;
  margin-top: 24px;
}

.preview__button {
  margin-top: 64px;
  width: 285px;
  height: 80px;
  background: #d89999;
  border-radius: 40px;
  color: #fff;
  border: none;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.button:hover {
  cursor: pointer;
}

.preview__img-one {
  margin-top: 140px;
  margin-left: 23px;
  border-radius: 10px;
}
.preview__img-two {
  margin-top: 82px;
  margin-left: 20px;
  border-radius: 10px;
}
.advantage {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.advantage__dlock {
  display: flex;
}
.advantage__dlock_img {
  margin: 0 20px 0;
  height: 52px;
  margin-top: 48px;
}
.advantage__content_heading {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-top: 48px;
}

.advantage__content_text {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 20px;
  width: 285px;
  margin-right: 49px;
  margin-top: 8px;
}

.slider {
  width: 794px;
  height: 546px;
  margin: 0 auto;
  margin-top: 80px;
}
.slider__heading {
  text-align: center;
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.02em;
}
.slider__content {
  display: flex;
  justify-content: space-between;
}
.slider__info_heading {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-top: 63px;
}

.slider__info_text {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 20px;
  margin-top: 20px;
  width: 387px;
}

.slider__info_dimensions {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 20px;
  margin-top: 24px;
}
.slider__info_price {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}
.slider__button {
  width: 285px;
  height: 80px;
  background: #d89999;
  border-radius: 40px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  border: none;
  margin-top: 94px;
}
.slider_img {
  margin-left: 20px;
  margin-top: 36px;
}
.slider__arrow {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}
.slider__arrow_img {
  margin-left: 20px;
}
.catalog {
  width: 1200px;
  margin: 0 auto;
  display: flex;
}

.catalog__block {
  border-radius: 10px;
  width: 387px;
  height: 442px;
  margin-top: 80px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.catalog_img-1 {
  background-image: url("../img/1.png");
  box-shadow: 500px 500px 500px rgba(174, 124, 120, 0.6) inset;
}
.catalog_img-2 {
  background-image: url("../img/2.png");
  box-shadow: 500px 500px 500px rgba(174, 124, 120, 0.6) inset;
}
.catalog_img-3 {
  background-image: url("../img/3.png");
  box-shadow: 500px 500px 500px rgba(174, 124, 120, 0.6) inset;
}

.catalog__heading {
  text-align: center;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin: 0 auto;
}

.catalog__text {
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin-top: 8px;
}

.discounts {
  width: 1200px;
  height: 391px;
  margin: 0 auto;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  background: #ae7c78;
}

.discounts__content_heading {
  margin-left: 102px;
  font-family: Playfair Display;
  font-weight: 400;
  font-size: 44px;
  line-height: 59px;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-top: 40px;
}

.discounts__content_text {
  width: 387px;
  margin-left: 102px;
  font-family: Montserrat;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  margin-top: 24px;
}

.steps {
  width: 1200px;
  margin: 0 auto;
}
.steps__item {
  display: flex;
}
.steps__heading {
  text-align: center;
  margin-top: 80px;
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.02em;

  margin-top: 80px;
}
.steps__block {
  width: 285px;
  margin-top: 37px;
  margin: 0 10px;
}
.steps__block_img {
  display: block;
  margin: 0 auto;
}
.steps__block_heading {
  margin-top: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  text-align: center;
}
.steps__block_text {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin-top: 8px;
}

.news {
  width: 1200px;
  margin: 0 auto;
  margin-top: 80px;
  display: flex;
}

.news__heading {
  margin-top: 150px;
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.02em;
}
.news__text {
  width: 387px;
  font-size: 24px;
  line-height: 29px;
  margin-right: 121px;
}
.social__icon {
  margin-right: 21px;
}
.img__block_small-two {
  margin-top: 20px;
  margin-right: 20px;
}

.review {
  width: 1200px;
  height: 308px;
  border: 1px solid;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 80px;
}
.review__heading {
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.02em;
  margin-top: 40px;
}

.review__block {
  width: 300px;
  margin: 0 44px;
}
.review__text {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin-top: 41px;
}
.review__name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin-top: 16px;
}
.review__content {
  display: flex;
  justify-content: space-between;
}

.map {
  width: 1440px;
  height: 644px;
  background-image: url("../img/map.png");
  margin-top: 80px;
  position: relative;
}
.contact {
  width: 386px;
  height: 520px;
  background: #f7fafc;
  box-shadow: 0px 4px 40px rgba(217, 217, 217, 0.3);
  border-radius: 12px;
  position: absolute;
  left: 222px;
  top: 52px;
}
.contact__heading {
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  color: #ae7c78;
  margin-top: 40px;
  margin-left: 35px;
  margin-bottom: 45px;
}

.contact__adress-desc,
.contact__tel-desc,
.contact__time-desc,
.contact__email-desc {
  font-size: 16px;
  line-height: 20px;
  margin-left: 35px;
  margin-bottom: 20px;
}

.contact__adress-text,
.contact__tel-text,
.contact__time-text,
.contact__email-text {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-left: 35px;
  margin-bottom: 18px;
}

.footer {
  width: 1440px;
  height: 97px;
  background: #ae7c78;
  display: flex;
  justify-content: space-between;
}

.nav__button-footer {
  margin-top: 15px;
  font-size: 16px;
  color: #ffffff;
  list-style-type: none;
  padding: 0 30px;
  text-align: center;
}
.nav__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  max-width: 1200px;
  color: #ffffff;
}
.nav__button-footer a {
  color: #ffffff;
}
.footer__logo {
  color: #ffffff;
  margin-top: 24px;
  margin-left: 120px;
}

.footer__socia {
  color: #ffffff;
  margin-top: 29px;
  margin-right: 115px;
}
